**Situation:**

This script matches IATA codes / OAG ac names and Planespotters ac.

There is a general difference between the IATA and the ICAO aircraft codes: IATA has designated, superordinated code for "all models" while the ICAO has not. (In the following, we call these aircraft types "IATA-only".)

This becomes clear at the following example:
- IATA=141 for B461 BAe 146-100 Pax --> ICAO=B464
- IATA=142 for B462 BAe 146-200 Pax --> ICAO=B462
- IATA=143 for B463	BAe 146-300 Pax --> ICAO=B463
- IATA=146 for BAe 146 all pax models --> ICAO=N/A <- this is the general, superordinated IATA code.

**Problem**: 

This OAG data set is based on the IATA code, but the Planespotters (PS) data (data on aircraft, including e.g. age and seat capacity) does always have specific AC models, not the general, superordinated AC.

**Solution**:

We distribute the OAG flights performed by the IATA-only AC types to all specific IATA-code AC that are available in the set. We do so per route and according to the share of flight kilometers observed in the OAG data.

Example for 1 specific route:
- IATA=146: 10 flights & 2000 FKM in OAG data set --> 0 FKM after reassignment
- IATA=141: 20 flights & 4000 FKM in OAG data set --> 4800 FKM after reassignment
- IATA=142: 30 flights & 6000 FKM in OAG data set --> 7200 FKM after reassignment
The 2000 FKM from IATA=146 are reassigned to the 141 and 142 AC according to the share of FKM in OAG.

In [1]:
import pandas as pd
import numpy as np
import math

# 2018

## (2018) Load OAG data

In [2]:
# Connect to DB
%load_ext ipython_pg.LAV
%pg_connect dbname='mobility' host='lav-fileserver.ethz.ch' user='heldm'

password for heldm@lav-fileserver.ethz.ch:5433:········
SUCCESS: connected to lav-fileserver.ethz.ch
  PostGIS integration enabled

In [3]:
%%pg_pd oag18
SELECT * FROM "OAG"."2018_schedule"

SUCCES: matched 180578 rows
 results stored as 'oag18'

In [4]:
oag18.head()

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2018,fkm_2018
0,100,Fokker 100,ADE,Aden,YE,JIB,Djibouti,DJ,248.203212,58.0,14395.786303
1,100,Fokker 100,AMS,Amsterdam,NL,BRU,Brussels Airport,BE,157.553624,88.0,13864.718918
2,100,Fokker 100,AMS,Amsterdam,NL,MUC,Munich International Airport,DE,676.777570,332.0,224690.153347
3,100,Fokker 100,AZD,Yazd,IR,BND,Bandar Abbas,IR,559.459639,91.0,50910.827163
4,100,Fokker 100,BND,Bandar Abbas,IR,AZD,Yazd,IR,559.459639,91.0,50910.827163

## (2018) Make OAG data set Planespotters-compatible

### (2018) Reassign generic IATA Codes

**Load manual IATA-ICAO lookup table**

In [5]:
# Read the manual lookup table
ac_type_designators = pd.read_excel('../../../../Research/Aviation/Jupyter/datasets/aircraft_type_designators_manual.xlsx')
ac_type_designators = ac_type_designators.rename(columns={'oag_model: all generic AC types where we have multiple variants in the PS data set are marked in red': 'ac_name_oag',
                                            'planespotters_model': 'ac_name_ps',
                                            'share of yearly flight km: high impact models (>1% of total FKM) are marked in green -> ask OAG here': 'share_of_yearly_FKM'})
ac_type_designators = ac_type_designators.drop(['share_of_yearly_FKM','ps_model assignment','comment1','comment2', 'widebody'], axis=1)
ac_type_designators['ac_code_iata_reassign'] = ac_type_designators['ac_code_iata_reassign'].str.split(',')
ac_type_designators['ac_code_iata'] = ac_type_designators['ac_code_iata'].astype(str)
ac_type_designators.head()

,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,ac_code_iata_reassign,oag_name_keep
0,CS1,BCS1,Airbus A220-100,Airbus A220-100,NaN,NaN
1,CS3,BCS3,Airbus A220-300,Airbus A220-300,NaN,NaN
2,AB3,A30B,Airbus A300 Passenger,Airbus A300B4,NaN,no
3,AB6,A306,Airbus A300-600 Passenger,Airbus A300-600,NaN,NaN
4,AB4,A30B,Airbus A300B2/B4 Passenger,Airbus A300B4,NaN,Airbus A300B2/B4 Passenger

In [6]:
# Extract all iata codes that have to be reassigned
reassign_df = ac_type_designators[ac_type_designators['ac_name_ps'] == 'to_be_assigned_to_multiple_variants'].reset_index()
reassign_df

,index,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,ac_code_iata_reassign,oag_name_keep
0,8,32S,to_be_assigned_to_multiple_variants,Airbus A318/319/320/321,to_be_assigned_to_multiple_variants,"[318, 319, 320, 32A, 321, 32B]",NaN
1,16,330,to_be_assigned_to_multiple_variants,Airbus A330,to_be_assigned_to_multiple_variants,"[332, 333]",NaN
2,20,340,to_be_assigned_to_multiple_variants,Airbus A340,to_be_assigned_to_multiple_variants,"[342, 343, 345, 346]",NaN
3,25,350,to_be_assigned_to_multiple_variants,Airbus A350,to_be_assigned_to_multiple_variants,"[351, 359]",NaN
4,40,ATR,to_be_assigned_to_multiple_variants,ATR42 /ATR72,to_be_assigned_to_multiple_variants,"[AT4, AT7]",NaN
5,42,ARJ,to_be_assigned_to_multiple_variants,Avro RJ70 /rj85 /rj100,to_be_assigned_to_multiple_variants,"[AR1, AR8]",NaN
6,44,146,to_be_assigned_to_multiple_variants,BAe 146 Passenger,to_be_assigned_to_multiple_variants,"[141, 142, 143]",NaN
7,62,M80,to_be_assigned_to_multiple_variants,Boeing (douglas) MD-80,to_be_assigned_to_multiple_variants,"[M81, M82, M83, M87, M88]",NaN
8,73,737,to_be_assigned_to_multiple_variants,Boeing 737 Passenger,to_be_assigned_to_multiple_variants,"[732, 73C, 733, 734, 73E, 735, 736, 73W, 73G, ...",NaN
9,98,757,to_be_assigned_to_multiple_variants,Boeing 757 (Passenger),to_be_assigned_to_multiple_variants,"[752, 753]",NaN
10,103,767,to_be_assigned_to_multiple_variants,Boeing 767 Passenger,to_be_assigned_to_multiple_variants,"[762, 763, 764]",NaN
11,108,777,to_be_assigned_to_multiple_variants,Boeing 777 Passenger,to_be_assigned_to_multiple_variants,"[772, 773]",NaN
12,113,787,to_be_assigned_to_multiple_variants,Boeing 787,to_be_assigned_to_multiple_variants,"[781, 788, 789]",NaN
13,120,CRJ,to_be_assigned_to_multiple_variants,Canadair Regional Jet,to_be_assigned_to_multiple_variants,"[CR1, CR2, CR7, CR9, CRA, CRK]",NaN
14,141,DH8,to_be_assigned_to_multiple_variants,DHvilld-Bombardier DHC8 Dsh 8,to_be_assigned_to_multiple_variants,"[DH1, DH2, DH3, DH4]",NaN
15,149,EMJ,to_be_assigned_to_multiple_variants,Embraer 170/195,to_be_assigned_to_multiple_variants,"[E70, E95]",NaN
16,156,ERJ,to_be_assigned_to_multiple_variants,Embraer RJ 135/140/145,to_be_assigned_to_multiple_variants,"[ER3, ER4, ERD]",NaN

**Reassign**

In [7]:
# Add the total share of yearly fkm of each OAG entry and a one-string-route as two new columns
oag18['share_of_fkm_2018'] = oag18['fkm_2018'] / oag18['fkm_2018'].sum()
oag18['route'] = oag18['arr_ap_code'] + '_' + oag18['dep_ap_code']
oag18.head()

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2018,fkm_2018,share_of_fkm_2018,route
0,100,Fokker 100,ADE,Aden,YE,JIB,Djibouti,DJ,248.203212,58.0,14395.786303,2.767831e-07,ADE_JIB
1,100,Fokker 100,AMS,Amsterdam,NL,BRU,Brussels Airport,BE,157.553624,88.0,13864.718918,2.665724e-07,AMS_BRU
2,100,Fokker 100,AMS,Amsterdam,NL,MUC,Munich International Airport,DE,676.777570,332.0,224690.153347,4.320044e-06,AMS_MUC
3,100,Fokker 100,AZD,Yazd,IR,BND,Bandar Abbas,IR,559.459639,91.0,50910.827163,9.788459e-07,AZD_BND
4,100,Fokker 100,BND,Bandar Abbas,IR,AZD,Yazd,IR,559.459639,91.0,50910.827163,9.788459e-07,BND_AZD

In [8]:
def lookup_fkm_shares(iata_orig, ls_reassign, oag18_route, oag18):
    '''Take the original generic iata code aircraft (iata_orig) that has to be reassigned to other aircraft types,
    which are the input list ls_reassign aircraft types.
    Takes the oag data for a specific route - all aircraft that perform these route.
    Returns relative shares of these to-be-reassigned aircraft types.'''
    
    ls_reassign = pd.DataFrame({'ac_code_iata': ls_reassign, 'share_of_fkm_2018': 'share_of_fkm_2018'})
    ac_performance = oag18.groupby('ac_code_iata').sum().reset_index()
    ls_reassign['share_of_fkm_2018'] = ac_performance.set_index('ac_code_iata').lookup(ls_reassign['ac_code_iata'],ls_reassign['share_of_fkm_2018'])
    ls_reassign['share_of_fkm_2018'] = ls_reassign['share_of_fkm_2018'] / ls_reassign['share_of_fkm_2018'].sum()
    
    return ls_reassign

In [9]:
new_oag18 = oag18.copy()

In [10]:
'''Some iata codes in the OAG data set do not refer to a specific aircraft, but are a general "melting pot" for all aircraft versions of a general type.
Since stock data from Planespotters does refer only to specific aircraft, we have to reassign the general aircraft types to the specific ones.
This code block assures that this reassignment (redistribution of number of flights (frequency_2018) and flight kilometers (fkm_2018)) is done according to 
the share of specific aircraft versions on the total fkm in 2018. Since fkm correlate good with number of aircraft in a first order approximation,
yearly fkm share is a good proxy for the number of aircraft version that we reassign.'''

for iata_orig in np.arange(len(reassign_df)): # loop over all iata codes that have to be replaced (iata_orig = [0,1,2,...,#all orig iata codes])
    
    orig = reassign_df.loc[iata_orig,'ac_code_iata']           # original ac that has to be reassigned (e.g. '330')
    reass = reassign_df.loc[iata_orig,'ac_code_iata_reassign'] # ac to which the fkm are reassigned (e.g. ['332', '333'])
    
    
    for route in oag18[oag18['ac_code_iata'] == orig]['route']: # loop over routes
        
        if len(oag18[(oag18['route'] == route) & (oag18['ac_code_iata'] == orig)]) > 0: # check if orig ac is operated at the current route
            # Look sequentially at routes in the oag data for the orig aircraft
            oag18_route = oag18[(oag18['route'] == route) & \
                                ((oag18['ac_code_iata'] == orig) | (oag18['ac_code_iata'].isin(reass)))].reset_index()
            oag18_route = oag18_route.drop(columns='index')

            if len(oag18_route) > 0:
                # Create a new table for all reass aircraft and set empty cells that are filled afterwards
                orig_oag18_route = oag18_route[oag18_route['ac_code_iata'] == orig]
                new_df = pd.concat([orig_oag18_route]*len(reass), ignore_index=True)
                new_df.at[:,['ac_code_iata', 'ac_name_oag','frequency_2018', 'fkm_2018', 'share_of_fkm_2018']] = ''
                new_df.at[:,'ac_code_iata'] = reass
                new_df.at[:,'ac_name_oag'] = 'new_reass_ac'

                # Define shares of yearly fkm shares of the reass aircraft
                shares = lookup_fkm_shares(orig, reass, oag18_route, oag18)

                # Calculate the fkm that have to be redistributed from the orig ac to the reass ac
                orig_fkm = oag18_route[oag18_route['ac_code_iata'] == orig]['fkm_2018'].item()


                # Loop over all reass ac for the specific aircraft orig (loop 1) and the specific route (loop 2)
                for i in reass:
                    # Get the share of fkm of i-th reass ac on the total fkm of all reass ac
                    share_i = shares[shares['ac_code_iata'] == i]['share_of_fkm_2018'].item()
            
                    # Check whether the i-th reass aircraft is already assigned for that route in the original oag data set and save the fkm of it if it is nonzero.
                    reass_fkm_old = oag18_route[oag18_route['ac_code_iata'] == i]['fkm_2018']
                    if len(reass_fkm_old) >0:
                        reass_fkm_old = reass_fkm_old.item()
                    else:
                        reass_fkm_old = 0
                    
                    # Fill the dataframe for the reass aircraft with the share-wise distribution of the to-be-reassigned orig fkm + the reass_fkm_old
                    row = new_df[new_df['ac_code_iata'] == i].index.item()
                    
                    
                    new_df.at[row,'fkm_2018'] = share_i*orig_fkm + reass_fkm_old
                    # Calculate the frequency from the fkm and the great-circle distance
                    new_df.at[row,'frequency_2018'] = round(new_df.loc[row,'fkm_2018'] / new_df.loc[row,'gc_distance'])   


                # Since we assign the fkm according to yearyl fkm shares, the frequency for a specific route-ac pair might not be a multiple of the gc_distance (see last step in reass-loop).
                # Solution: Make sure that the sum of frequency_2018 over all reass ac is the same as for all ac (orig + reass) on the route.
                diff_freq = new_df['frequency_2018'].sum() - oag18_route['frequency_2018'].sum() 

                # If there is a difference, add or substract that difference in number of flights from the reass ac with the largest freq,
                # unless there is no reass ac with a largest freq, then take the last ac in the list
                idx_max = pd.to_numeric(new_df['frequency_2018'])

                if abs(diff_freq) > 0:
                    if math.isnan(idx_max.idxmax()):
                        last_row = new_df.index[-1]
                        new_df.at[last_row,'frequency_2018'] -= diff_freq
                    else:
                        new_df.at[idx_max.idxmax(),'frequency_2018'] -= diff_freq

                # After this correction, we can reset the fkm's according to the frequencies:
                new_df.at[:,'fkm_2018'] = new_df.loc[:,'frequency_2018'] * new_df.loc[:,'gc_distance']

                # Now we append the rows with the new values for the reass ac and drop the original ones if existing
                new_oag18 = new_oag18.append(new_df, ignore_index=True)
                new_oag18 = new_oag18.drop_duplicates(subset = ['ac_code_iata','route'], keep = 'last')
                
    # Last we delete all orig ac
    idx_to_del = new_oag18[new_oag18['ac_code_iata'] == orig].index
    new_oag18 = new_oag18.drop(index=idx_to_del)

In [11]:
# Since the fkm-frequency-step in the loop above creates a few 0-frequency-entries, we delete them.
zeros = new_oag18[new_oag18['frequency_2018'] == 0].index
new_oag18 = new_oag18.drop(index=zeros)
new_oag18 = new_oag18.reset_index()
new_oag18 = new_oag18.drop(columns='index')

**Check whether the reassignment was successful: None of the to-be-reassigned-ac-codes should be in the df anymore:**

In [12]:
ac_code_iata_reassigned = list(reassign_df.ac_code_iata)
ac_code_iata_in_df = list(new_oag18.ac_code_iata.unique())
set(ac_code_iata_in_df).intersection(set(ac_code_iata_reassigned))

set()

**Sanity check:**

Frequency and fkm should be the same for new_oag18 and the entries of oag18:

In [13]:
check_diff_freq = abs(oag18['frequency_2018'].sum() - new_oag18['frequency_2018'].sum())
check_diff_fkm = abs(oag18['fkm_2018'].sum() - new_oag18['fkm_2018'].sum())
print('Difference between frequency before and after ac reassignment: {:.2f}.'.format(check_diff_freq))
print('Difference between total fkm before and after ac reassignment: {:.2f}.'.format(check_diff_fkm))

Difference between frequency before and after ac reassignment: 0.00.
Difference between total fkm before and after ac reassignment: 0.00.

Check passed.

** Since we split the to-be-reassigned ac codes into multiple other ac, we also increased the number of entries: **

In [14]:
len(oag18)

180578

In [15]:
len(new_oag18)

218729

### (2018) Merge duplicate ICAO codes

**Load manual IATA-ICAO lookup table**

In [16]:
# Read the manual lookup table
ac_type_designators = pd.read_excel('../../../../Research/Aviation/Jupyter/datasets/aircraft_type_designators_manual.xlsx')
ac_type_designators = ac_type_designators.rename(columns={'oag_model: all generic AC types where we have multiple variants in the PS data set are marked in red': 'ac_name_oag',
                                            'planespotters_model': 'ac_name_ps',
                                            'share of yearly flight km: high impact models (>1% of total FKM) are marked in green -> ask OAG here': 'share_of_yearly_FKM'})
ac_type_designators = ac_type_designators.drop(['share_of_yearly_FKM','ps_model assignment','comment1','comment2', 'widebody'], axis=1)
ac_type_designators['ac_code_iata_reassign'] = ac_type_designators['ac_code_iata_reassign'].str.split(',')
ac_type_designators['ac_code_iata'] = ac_type_designators['ac_code_iata'].astype(str)
ac_type_designators.head()

,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,ac_code_iata_reassign,oag_name_keep
0,CS1,BCS1,Airbus A220-100,Airbus A220-100,NaN,NaN
1,CS3,BCS3,Airbus A220-300,Airbus A220-300,NaN,NaN
2,AB3,A30B,Airbus A300 Passenger,Airbus A300B4,NaN,no
3,AB6,A306,Airbus A300-600 Passenger,Airbus A300-600,NaN,NaN
4,AB4,A30B,Airbus A300B2/B4 Passenger,Airbus A300B4,NaN,Airbus A300B2/B4 Passenger

**Remove generic IATA codes**

In [17]:
# We delete all generic IATA codes. They are reassigned to specific aircraft 
# variants in the Jupyter Notebook "OAG_Planespotters_Alignment".
ac_type_designators_wo_generic = ac_type_designators[ac_type_designators['ac_code_icao'] != 'to_be_assigned_to_multiple_variants']
ac_type_designators_wo_generic = ac_type_designators_wo_generic.drop(columns='ac_code_iata_reassign')
ac_type_designators_wo_generic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 189
Data columns (total 5 columns):
ac_code_iata     173 non-null object
ac_code_icao     173 non-null object
ac_name_oag      173 non-null object
ac_name_ps       127 non-null object
oag_name_keep    66 non-null object
dtypes: object(5)
memory usage: 8.1+ KB

**Add ICAO code to OAG data.**

In [18]:
iata_icao_lookup = ac_type_designators_wo_generic.set_index('ac_code_iata').to_dict()['ac_code_icao']
new_oag18['ac_code_icao'] = new_oag18['ac_code_iata'].replace(iata_icao_lookup)

** Merge duplicate ICAO values**

In [19]:
# Define duplicate icao values
icao_dupl = ac_type_designators_wo_generic[ac_type_designators_wo_generic.duplicated(subset ='ac_code_icao', keep=False)].sort_values(by='ac_code_icao')
icao_dupl[6:10]

,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,oag_name_keep
13,321,A321,Airbus A321,Airbus A321-200,Airbus A321 (with and without Sharklets)
14,32B,A321,Airbus A321 (Sharklets),Airbus A321-200,no
28,380,A388,Airbus A380 Passenger,Airbus A380-800,no
29,388,A388,Airbus A380-800 Passenger,Airbus A380-800,Airbus A380-800 Passenger

Example: The A321 are all given the oag name "Airbus A321 (with and without Sharklets)" and the IATA code '321'.

In [20]:
icao_dupl_names = icao_dupl['ac_code_icao'].unique() # unique icao values in the list
icao_dupl_groups = icao_dupl.groupby('ac_code_icao')

for i in icao_dupl_names: # loop over all duplicate icao values
     # Get all entries from icao_dupl for the selected icao code
    _cache = icao_dupl_groups.get_group(i)
    
    # Rename the ac_name_oag to the one given in icao_dupl
    _rename_oag_name = _cache[_cache['oag_name_keep'] != 'no']['oag_name_keep'].item()
    _keep_iata_codes = _cache[_cache['oag_name_keep'] != 'no']['ac_code_iata'].to_list()
    _rename_iata_index = new_oag18[new_oag18['ac_code_iata'].isin(_keep_iata_codes)].index
    new_oag18.at[_rename_iata_index,'ac_name_oag'] = _rename_oag_name
    
    # Rename the ac_code_iata to the first one in the list 
    _del_iata_codes = _cache[_cache['oag_name_keep'] == 'no']['ac_code_iata'].to_list()
    _del_iata_index = new_oag18[new_oag18['ac_code_iata'].isin(_del_iata_codes)].index
    new_oag18.at[_del_iata_index,'ac_code_iata'] = _keep_iata_codes[0]

Now that we set common names for the same ac_code_icao, we will see duplicates for identical ap-pairs. We merge them.

In [21]:
to_be_merged = new_oag18[new_oag18.duplicated(subset = ['ac_code_icao','dep_ap_code', 'arr_ap_code','dep_ap_name', 'arr_ap_name', 'gc_distance'], keep=False)].sort_index()
grouped = to_be_merged.groupby(['ac_code_icao','dep_ap_code', 'arr_ap_code'])

In [22]:
for ac_group in grouped.groups.keys():
    grouped.get_group(ac_group).index[0]
    idx_first_entry = grouped.get_group(ac_group).index[0]
    idx_other_entries = grouped.get_group(ac_group).index[1:]
    freq_sum = grouped.get_group(ac_group).sum()['frequency_2018']
    fkm_sum = grouped.get_group(ac_group).sum()['fkm_2018']

    # We update the summed up freq and fkm and set it as new value for the 1st entry
    new_oag18.at[idx_first_entry, 'frequency_2018'] = freq_sum
    new_oag18.at[idx_first_entry, 'fkm_2018'] = fkm_sum
    
    # We delete all duplicated values except the first one (which is the one with the updated information)
    new_oag18.drop_duplicates(subset=['ac_code_iata','dep_ap_code', 'arr_ap_code','dep_ap_name', 'arr_ap_name', 'gc_distance'], keep='first',inplace=True)

## (2018) Final processing

In [23]:
new_oag18

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2018,fkm_2018,share_of_fkm_2018,route,ac_code_icao
0,100,Fokker 100,ADE,Aden,YE,JIB,Djibouti,DJ,248.203212,58,14395.8,2.76783e-07,ADE_JIB,F100
1,100,Fokker 100,AMS,Amsterdam,NL,BRU,Brussels Airport,BE,157.553624,88,13864.7,2.66572e-07,AMS_BRU,F100
2,100,Fokker 100,AMS,Amsterdam,NL,MUC,Munich International Airport,DE,676.777570,332,224690,4.32004e-06,AMS_MUC,F100
3,100,Fokker 100,AZD,Yazd,IR,BND,Bandar Abbas,IR,559.459639,91,50910.8,9.78846e-07,AZD_BND,F100
4,100,Fokker 100,BND,Bandar Abbas,IR,AZD,Yazd,IR,559.459639,91,50910.8,9.78846e-07,BND_AZD,F100
5,100,Fokker 100,BND,Bandar Abbas,IR,KIH,Kish Island,IR,249.783075,191,47708.6,9.17277e-07,BND_KIH,F100
6,100,Fokker 100,BRU,Brussels Airport,BE,AMS,Amsterdam,NL,157.553624,88,13864.7,2.66572e-07,BRU_AMS,F100
7,100,Fokker 100,BRU,Brussels Airport,BE,TLL,Tallinn,EE,1590.398117,4,6361.59,1.22312e-07,BRU_TLL,F100
8,100,Fokker 100,FAO,Faro,PT,FDH,Friedrichshafen,DE,1854.687489,1,1854.69,3.56595e-08,FAO_FDH,F100
9,100,Fokker 100,FSC,Figari,FR,RNS,Rennes St Jacques Airport,FR,1122.311972,11,12345.4,2.37362e-07,FSC_RNS,F100
10,100,Fokker 100,HIR,Honiara,SB,NAN,Nadi,FJ,2093.158159,49,102565,1.97198e-06,HIR_NAN,F100
11,100,Fokker 100,INI,Nis,RS,ZRH,Zurich Airport,CH,1133.285938,12,13599.4,2.61472e-07,INI_ZRH,F100
12,100,Fokker 100,JIB,Djibouti,DJ,ADE,Aden,YE,248.203212,58,14395.8,2.76783e-07,JIB_ADE,F100
13,100,Fokker 100,JIB,Djibouti,DJ,MGQ,Mogadishu,SO,1086.137897,4,4344.55,8.35313e-08,JIB_MGQ,F100
14,100,Fokker 100,KIH,Kish Island,IR,BND,Bandar Abbas,IR,249.783075,191,47708.6,9.17277e-07,KIH_BND,F100
15,100,Fokker 100,KIH,Kish Island,IR,SRY,Sari,IR,1124.488381,61,68593.8,1.31883e-06,KIH_SRY,F100
16,100,Fokker 100,KRK,Krakow John Paul II - Balice,PL,ZRH,Zurich Airport,CH,872.304035,17,14829.2,2.85116e-07,KRK_ZRH,F100
17,100,Fokker 100,KSH,Kermanshah,IR,MHD,Mashhad,IR,1151.488071,17,19575.3,3.76368e-07,KSH_MHD,F100
18,100,Fokker 100,MHD,Mashhad,IR,KSH,Kermanshah,IR,1151.488071,17,19575.3,3.76368e-07,MHD_KSH,F100
19,100,Fokker 100,MUC,Munich International Airport,DE,AMS,Amsterdam,NL,676.777570,332,224690,4.32004e-06,MUC_AMS,F100
20,100,Fokker 100,MUC,Munich International Airport,DE,TLL,Tallinn,EE,1516.387481,3,4549.16,8.74653e-08,MUC_TLL,F100
21,100,Fokker 100,NAN,Nadi,FJ,HIR,Honiara,SB,2093.158159,48,100472,1.93173e-06,NAN_HIR,F100
22,100,Fokker 100,NCE,Nice,FR,NTE,Nantes Atlantique Airport,FR,790.383431,9,7113.45,1.36768e-07,NCE_NTE,F100
23,100,Fokker 100,NTE,Nantes Atlantique Airport,FR,NCE,Nice,FR,790.383431,9,7113.45,1.36768e-07,NTE_NCE,F100
24,100,Fokker 100,RNS,Rennes St Jacques Airport,FR,FSC,Figari,FR,1122.311972,11,12345.4,2.37362e-07,RNS_FSC,F100
25,100,Fokker 100,SRY,Sari,IR,KIH,Kish Island,IR,1124.488381,61,68593.8,1.31883e-06,SRY_KIH,F100
26,100,Fokker 100,THR,Tehran Mehrabad International Airport,IR,ZAH,Zahedan,IR,1132.450267,113,127967,2.46038e-06,THR_ZAH,F100
27,100,Fokker 100,TLL,Tallinn,EE,BRU,Brussels Airport,BE,1590.398117,4,6361.59,1.22312e-07,TLL_BRU,F100
28,100,Fokker 100,TLL,Tallinn,EE,MUC,Munich International Airport,DE,1516.387481,3,4549.16,8.74653e-08,TLL_MUC,F100
29,100,Fokker 100,ZAH,Zahedan,IR,THR,Tehran Mehrabad International Airport,IR,1132.450267,113,127967,2.46038e-06,ZAH_THR,F100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218686,ER3,Embraer RJ135/145,OMA,Omaha Eppley Airfield,US,ORD,Chicago O'Hare International Apt,US,667.732742,5,3338.66,,OMA_ORD,E135
218687,ER4,new_reass_ac,OMA,Omaha Eppley Airfield,US,ORD,Chicago O'Hare International Apt,US,667.732742,171,114182,,OMA_ORD,E145
218689,ER3,Embraer RJ135/145,ORD,Chicago O'Hare International Apt,US,ALB,Albany International Airport,US,1160.341331,24,27848.2,,ORD_ALB,E135
218690,ER4,new_reass_ac,ORD,Chicago O'Hare International Apt,US,ALB,Albany International Airport,US,1160.341331,235,272680,,ORD_ALB,E145
218692,ER3,Embraer RJ135/145,ORD,Chicago O'Hare International Apt,US,COS,Colorado Springs Municipal,US,1463.346175,2,2926.69,,ORD_COS,E135
218693,ER4,new_reass_ac,ORD,Chicago O'Hare International Apt,US,COS,Colorado Springs Municipal,US,1463.346175,10,14633.5,,ORD_COS,E145
218695,ER3,Embraer RJ135/145,ORD,Chicago O'Hare International Apt,US,GRB,Green Bay,US,279.690994,47,13145.5,,ORD_GRB,E135
218696,ER4,new_reass_ac,ORD,Chicago O'Hare International Apt,US,GRB,Green Bay,US,279.690994,523,146278,,ORD_GRB,E145
218698,ER4,new_reass_ac,ORD,Chicago O'Hare International Apt,US,MLI,Moline,US,223.591465,1331,297600,,ORD_MLI,E145
218699,ER3,Embraer RJ135/145,ORD,Chicago O'Hare International Apt,US,OMA,Omaha Eppley Airfield,US,667.732742,3,2003.2,,ORD_OMA,E135
218700,ER4,new_reass_ac,ORD,Chicago O'Hare International Apt,US,OMA,Omaha Eppley Airfield,US,667.732742,167,111511,,ORD_OMA,E145
218702,ER3,Embraer RJ135/145,ORD,Chicago O'Hare International Apt,US,PNS,Pensacola International,US,1280.877258,79,101189,,ORD_PNS,E135
218703,ER4,new_reass_ac,ORD,Chicago O'Hare International Apt,US,PNS,Pensacola International,US,1280.877258,213,272827,,ORD_PNS,E145
218705,ER3,Embraer RJ135/145,PNS,Pensacola International,US,ORD,Chicago O'Hare International Apt,US,1280.877258,79,101189,,PNS_ORD,E135
218706,ER4,new_reass_ac,PNS,Pensacola International,US,ORD,Chicago O'Hare International Apt,US,1280.877258,213,272827,,PNS_ORD,E145
218708,ER4,new_reass_ac,SCE,State College,US,LAN,Lansing,US,598.145697,3,1794.44,,SCE_LAN,E145
218709,ER4,new_reass_ac,SWO,Stillwater,US,OMA,Omaha Eppley Airfield,US,580.888714,1,580.889,,SWO_OMA,E145
218710,ER3,Embraer RJ135/145,THR,Tehran Mehrabad International Airport,IR,JAR,Jahrom,IR,817.985730,2,1635.97,,THR_JAR,E135
218711,ER4,new_reass_ac,THR,Tehran Mehrabad International Airport,IR,JAR,Jahrom,IR,817.985730,6,4907.91,,THR_JAR,E145
218713,ER3,Embraer RJ135/145,TRC,Torreon,MX,CJS,Ciudad Juarez,MX,736.229018,39,28712.9,,TRC_CJS,E135
218714,ER4,new_reass_ac,TRC,Torreon,MX,CJS,Ciudad Juarez,MX,736.229018,108,79512.7,,TRC_CJS,E145
218716,ER3,Embraer RJ135/145,TRC,Torreon,MX,GDL,Guadalajara,MX,561.007566,18,10098.1,,TRC_GDL,E135
218717,ER4,new_reass_ac,TRC,Torreon,MX,GDL,Guadalajara,MX,561.007566,46,25806.3,,TRC_GDL,E145
218719,ER4,new_reass_ac,TUL,Tulsa International Apt,US,MHK,Manhattan,US,334.407753,1,334.408,,TUL_MHK,E145
218720,ER3,Embraer RJ135/145,XNA,Fayetteville/Springdale NW Arkansas Reg,US,EWR,Newark Liberty International Apt,US,1815.316673,6,10891.9,,XNA_EWR,E135
218721,ER4,new_reass_ac,XNA,Fayetteville/Springdale NW Arkansas Reg,US,EWR,Newark Liberty International Apt,US,1815.316673,17,30860.4,,XNA_EWR,E145
218723,ER3,Embraer RJ135/145,YHZ,Halifax Stanfield International Apt,CA,EWR,Newark Liberty International Apt,US,985.169325,170,167479,,YHZ_EWR,E135
218724,ER4,new_reass_ac,YHZ,Halifax Stanfield International Apt,CA,EWR,Newark Liberty International Apt,US,985.169325,457,450222,,YHZ_EWR,E145
218726,ER3,Embraer RJ135/145,YOW,Ottawa McDonald - Cartier Intl Apt,CA,EWR,Newark Liberty International Apt,US,528.535423,168,88794,,YOW_EWR,E135
218727,ER4,new_reass_ac,YOW,Ottawa McDonald - Cartier Intl Apt,CA,EWR,Newark Liberty International Apt,US,528.535423,450,237841,,YOW_EWR,E145

In [24]:
len(new_oag18)

191618

In [25]:
new_oag18.ac_code_iata.unique()

array(['100', '141', '142', '290', '313', '318', '319', '143', '320',
       '321', '32N', '32Q', '332', '333', '717', '343', '345', '346',
       '351', '359', '388', '733', '722', '73L', '734', '735', '339',
       'AT7', '736', '788', '738', 'AT4', 'E95', 'F50', 'L4T', '739',
       'SF3', '73G', 'F70', 'E70', '744', '74H', '752', '753', '762',
       '763', '764', '772', '773', '77L', '77W', '789', '7M8', '781',
       'A32', 'A58', '7M9', 'AN6', 'A81', 'AB4', 'AB6', 'AN4', 'AR8',
       'AR1', 'BE1', 'A38', 'A40', 'ATP', 'BE2', 'BEC', 'BNI', 'CNA',
       'CNF', 'BE4', 'C27', 'CNT', 'CR2', 'CR1', 'CR7', 'CR9', 'DHT',
       'CRK', 'CS1', 'CS3', 'CV5', 'D28', 'D38', 'DH1', 'DH2', 'DH3',
       'DH4', 'DC9', 'CN2', 'CNJ', 'DHC', 'DHP', 'DH7', 'E75', 'E7W',
       'DHL', 'EM2', 'ER3', 'ER4', 'EMB', 'EP3', 'F28', 'FRJ', 'IL9',
       'J31', 'J32', 'J41', 'M82', 'M83', 'M87', 'M88', 'GJ5', 'GRJ',
       'M90', 'MA6', 'PA1', 'PA2', 'PAG', 'PL2', 'M81', 'S20', 'SU9',
       'SWM', 'TU3', 'YK2', 'T20', 'TU5', 'YK4', 'YN2', 'DHD', 'CJ8',
       '342'], dtype=object)

In [26]:
len(new_oag18.ac_code_iata.unique())

136

Finally, we...
- (1) delete the two columns that have been needed for the calculations.
- (2) reset the index.
- (3) change some data types.
- (4) assign the right ac_name_oag for the new reass ac.

In [27]:
#1,2
new_oag18 = new_oag18.drop(columns=['share_of_fkm_2018', 'route']).reset_index()
new_oag18 = new_oag18.drop(columns=['index'])

In [28]:
#3
new_oag18['frequency_2018'] = new_oag18['frequency_2018'].astype(int)
new_oag18['fkm_2018'] = new_oag18['fkm_2018'].astype(float)

In [29]:
#4-1
# update the ac names that have been double icao values previously
idx_oag_name_double_icao = ac_type_designators[(~ac_type_designators['oag_name_keep'].isnull()) & \
                                               (ac_type_designators['oag_name_keep'] != 'no')].index
ac_type_designators.at[idx_oag_name_double_icao,'ac_name_oag'] = \
                                                ac_type_designators.loc[idx_oag_name_double_icao,'oag_name_keep']

In [30]:
#4-2
ac_iata_to_oag_lookup = ac_type_designators.set_index('ac_code_iata').to_dict()['ac_name_oag']
dict(list(ac_iata_to_oag_lookup.items())[10:13]) # preview
new_oag18.at[:,'ac_name_oag'] = new_oag18['ac_code_iata'].replace(ac_iata_to_oag_lookup)
new_oag18.head()

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2018,fkm_2018,ac_code_icao
0,100,Fokker 100,ADE,Aden,YE,JIB,Djibouti,DJ,248.203212,58,14395.786303,F100
1,100,Fokker 100,AMS,Amsterdam,NL,BRU,Brussels Airport,BE,157.553624,88,13864.718918,F100
2,100,Fokker 100,AMS,Amsterdam,NL,MUC,Munich International Airport,DE,676.777570,332,224690.153347,F100
3,100,Fokker 100,AZD,Yazd,IR,BND,Bandar Abbas,IR,559.459639,91,50910.827163,F100
4,100,Fokker 100,BND,Bandar Abbas,IR,AZD,Yazd,IR,559.459639,91,50910.827163,F100

In [31]:
#4: Check whether all oag names have been replaced
len(new_oag18[new_oag18['ac_name_oag'] == 'new_reass_ac'])

0

In [32]:
# Delete ICAO code
new_oag18 = new_oag18.drop(columns='ac_code_icao')

In [33]:
new_oag18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191618 entries, 0 to 191617
Data columns (total 11 columns):
ac_code_iata      191618 non-null object
ac_name_oag       191618 non-null object
arr_ap_code       191618 non-null object
arr_ap_name       191618 non-null object
arr_ap_cty        191618 non-null object
dep_ap_code       191618 non-null object
dep_ap_name       191618 non-null object
dep_ap_cty        191618 non-null object
gc_distance       191618 non-null float64
frequency_2018    191618 non-null int32
fkm_2018          191618 non-null float64
dtypes: float64(2), int32(1), object(8)
memory usage: 15.4+ MB

In [34]:
print('By reassigning of aircraft, the number of entries has increased by {:.2f}% from {} to {} entries.'.format(len(new_oag18)/len(oag18)*100-100,len(oag18), len(new_oag18)))

By reassigning of aircraft, the number of entries has increased by 6.11% from 180578 to 191618 entries.

In [36]:
new_oag18.to_csv('intermediary_save_of_new_oag18.csv')

## (2018) Upload changed OAG data set

In [35]:
# Checking the maximum character length in columns:
new_oag18.ac_name_oag.str.len().max()

64

# Connect to DB
%reload_ext ipython_pg.LAV
%pg_connect dbname='mobility' user='heldm'

In [37]:
%pg_sql set role "NDA-OAG-full"

SUCCESS: query did not return any data

In [38]:
%%pg_sql cur
drop table if exists "OAG"."2018_schedule_ps_conform";

CREATE TABLE "OAG"."2018_schedule_ps_conform" 
("ac_code_iata" varchar(3), 
 "ac_name_oag" varchar(64), 
 "arr_ap_code" varchar(3),
 "arr_ap_name" varchar(39),
 "arr_ap_cty" varchar(2),
 "dep_ap_code" varchar(3),
 "dep_ap_name" varchar(39),
 "dep_ap_cty" varchar(2),
 "gc_distance" float,
 "frequency_2018" int,
 "fkm_2018" float
);

COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."ac_code_iata" IS 'IATA aircraft code';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."ac_name_oag" IS 'OAG aircraft name';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."arr_ap_code" IS 'IATA aiport code';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."arr_ap_name" IS 'IATA aiport name';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."arr_ap_cty" IS  'IATA airport country';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."dep_ap_code" IS 'IATA aiport code';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."dep_ap_name" IS 'IATA aiport name';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."dep_ap_cty" IS 'IATA airport country';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."gc_distance" IS 'great-circle distance for this segment';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."frequency_2018" IS 'number of flights for this segment in 2018';
COMMENT ON
COLUMN "OAG"."2018_schedule_ps_conform"."fkm_2018" IS 'flight kilometers for this segment (gc_distance * frequency)';

COMMIT;

SUCCESS: query did not return any data
 cursor object as 'cur'

In [39]:
%pg_copy new_oag18 OAG.2018_schedule_ps_conform

  waring: green-mode temporarily deactivated (interrupt won't abort the import)  green mode reactivated

In [40]:
%pg_disconnect

# 2012

In [47]:
# Connect to DB
%load_ext ipython_pg.LAV
%pg_connect dbname='mobility' host='lav-fileserver.ethz.ch' user='heldm'

The ipython_pg.LAV extension is already loaded. To reload it, use:
  %reload_ext ipython_pg.LAV
password for heldm@lav-fileserver.ethz.ch:5433:········
SUCCESS: connected to lav-fileserver.ethz.ch
  PostGIS integration enabled

In [48]:
%%pg_pd oag12
SELECT * FROM "OAG"."2012_schedule"

SUCCES: matched 135894 rows
 results stored as 'oag12'

In [49]:
oag12.head()

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2012,fkm_2012
0,100,Fokker 100,AGT,Ciudad del Este,PY,ASU,Asuncion,PY,303.201008,176.0,53363.377470
1,100,Fokker 100,AMS,Amsterdam,NL,LUX,Luxembourg,LU,314.611383,1.0,314.611383
2,100,Fokker 100,ASU,Asuncion,PY,AGT,Ciudad del Este,PY,303.201008,225.0,68220.226879
3,100,Fokker 100,BHX,Birmingham Airport,GB,ZRH,Zurich Airport,CH,921.176839,668.0,615346.128185
4,100,Fokker 100,BIO,Bilbao,ES,LIS,Lisbon,PT,723.541703,1.0,723.541703

## (2012) Make OAG data set Planespotters-compatible

### (2012) Reassign generic IATA Codes

**Load manual IATA-ICAO lookup table**

In [50]:
# Read the manual lookup table
ac_type_designators = pd.read_excel('../../../../Research/Aviation/Jupyter/datasets/aircraft_type_designators_manual.xlsx')
ac_type_designators = ac_type_designators.rename(columns={'oag_model: all generic AC types where we have multiple variants in the PS data set are marked in red': 'ac_name_oag',
                                            'planespotters_model': 'ac_name_ps',
                                            'share of yearly flight km: high impact models (>1% of total FKM) are marked in green -> ask OAG here': 'share_of_yearly_FKM'})
ac_type_designators = ac_type_designators.drop(['share_of_yearly_FKM','ps_model assignment','comment1','comment2', 'widebody'], axis=1)
ac_type_designators['ac_code_iata_reassign'] = ac_type_designators['ac_code_iata_reassign'].str.split(',')
ac_type_designators['ac_code_iata'] = ac_type_designators['ac_code_iata'].astype(str)
ac_type_designators.head()

,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,ac_code_iata_reassign,oag_name_keep
0,CS1,BCS1,Airbus A220-100,Airbus A220-100,NaN,NaN
1,CS3,BCS3,Airbus A220-300,Airbus A220-300,NaN,NaN
2,AB3,A30B,Airbus A300 Passenger,Airbus A300B4,NaN,no
3,AB6,A306,Airbus A300-600 Passenger,Airbus A300-600,NaN,NaN
4,AB4,A30B,Airbus A300B2/B4 Passenger,Airbus A300B4,NaN,Airbus A300B2/B4 Passenger

In [51]:
# Extract all iata codes that have to be reassigned
reassign_df = ac_type_designators[ac_type_designators['ac_name_ps'] == 'to_be_assigned_to_multiple_variants'].reset_index()
reassign_df

,index,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,ac_code_iata_reassign,oag_name_keep
0,8,32S,to_be_assigned_to_multiple_variants,Airbus A318/319/320/321,to_be_assigned_to_multiple_variants,"[318, 319, 320, 32A, 321, 32B]",NaN
1,16,330,to_be_assigned_to_multiple_variants,Airbus A330,to_be_assigned_to_multiple_variants,"[332, 333]",NaN
2,20,340,to_be_assigned_to_multiple_variants,Airbus A340,to_be_assigned_to_multiple_variants,"[342, 343, 345, 346]",NaN
3,25,350,to_be_assigned_to_multiple_variants,Airbus A350,to_be_assigned_to_multiple_variants,"[351, 359]",NaN
4,40,ATR,to_be_assigned_to_multiple_variants,ATR42 /ATR72,to_be_assigned_to_multiple_variants,"[AT4, AT7]",NaN
5,42,ARJ,to_be_assigned_to_multiple_variants,Avro RJ70 /rj85 /rj100,to_be_assigned_to_multiple_variants,"[AR1, AR8]",NaN
6,44,146,to_be_assigned_to_multiple_variants,BAe 146 Passenger,to_be_assigned_to_multiple_variants,"[141, 142, 143]",NaN
7,62,M80,to_be_assigned_to_multiple_variants,Boeing (douglas) MD-80,to_be_assigned_to_multiple_variants,"[M81, M82, M83, M87, M88]",NaN
8,73,737,to_be_assigned_to_multiple_variants,Boeing 737 Passenger,to_be_assigned_to_multiple_variants,"[732, 73C, 733, 734, 73E, 735, 736, 73W, 73G, ...",NaN
9,98,757,to_be_assigned_to_multiple_variants,Boeing 757 (Passenger),to_be_assigned_to_multiple_variants,"[752, 753]",NaN
10,103,767,to_be_assigned_to_multiple_variants,Boeing 767 Passenger,to_be_assigned_to_multiple_variants,"[762, 763, 764]",NaN
11,108,777,to_be_assigned_to_multiple_variants,Boeing 777 Passenger,to_be_assigned_to_multiple_variants,"[772, 773]",NaN
12,113,787,to_be_assigned_to_multiple_variants,Boeing 787,to_be_assigned_to_multiple_variants,"[781, 788, 789]",NaN
13,120,CRJ,to_be_assigned_to_multiple_variants,Canadair Regional Jet,to_be_assigned_to_multiple_variants,"[CR1, CR2, CR7, CR9, CRA, CRK]",NaN
14,141,DH8,to_be_assigned_to_multiple_variants,DHvilld-Bombardier DHC8 Dsh 8,to_be_assigned_to_multiple_variants,"[DH1, DH2, DH3, DH4]",NaN
15,149,EMJ,to_be_assigned_to_multiple_variants,Embraer 170/195,to_be_assigned_to_multiple_variants,"[E70, E95]",NaN
16,156,ERJ,to_be_assigned_to_multiple_variants,Embraer RJ 135/140/145,to_be_assigned_to_multiple_variants,"[ER3, ER4, ERD]",NaN

In [52]:
# Some of these aircraft (that we have assigned manually for the aircraft fleet in 2018) have not been in service yet
# in 2012. Hence, we filter out all aircraft that are in the to-be-reassigned-list, but not present in the 2012-fleet.
_ls = list(reassign_df.loc[:,'ac_code_iata_reassign'])
flat_ls_reassign = [item for sublist in _ls for item in sublist]
flat_ls_oag12 = list(oag12.ac_code_iata.unique())
to_be_del = list(set(flat_ls_reassign)-set(flat_ls_oag12)) # Returns all elements of flat_ls_reassign that are not in flat_ls_oag12
to_be_del

['789', '781', '351', '32B', '359', '7S8']

In [53]:
# The '350' has not yet been in service at all (-> hence neither the '359' not the '351') 
# -> we delete that row from the reass df
reassign_df = reassign_df.drop(index=reassign_df[reassign_df.ac_code_iata=='350'].index).reset_index()
reassign_df = reassign_df.drop(columns = 'level_0')

In [54]:
# For the others, we filter the new aircraft types (see to_be_del list)
for i in np.arange(len(reassign_df)):
    cur_ac = reassign_df.ac_code_iata[i]
    intersect = set(reassign_df.ac_code_iata_reassign[i]).intersection(set(to_be_del))
    if len(intersect) > 0:
        print('Old list for {}: {}'.format(cur_ac, reassign_df.iloc[i,5]))
        print('New list for {}: {}'.format(cur_ac, list(set(reassign_df.ac_code_iata_reassign[i]) - (set(to_be_del)))))
        reassign_df.at[i,'ac_code_iata_reassign'] = list(set(reassign_df.ac_code_iata_reassign[i]) - (set(to_be_del)))

Old list for 32S: ['318', '319', '320', '32A', '321', '32B']
New list for 32S: ['319', '32A', '321', '320', '318']
Old list for 737: ['732', '73C', '733', '734', '73E', '735', '736', '73W', '73G', '7S8', '73H', '738', '73J', '739']
New list for 737: ['734', '736', '738', '73J', '735', '73W', '73H', '73G', '733', '739', '73C', '732', '73E']
Old list for 787: ['781', '788', '789']
New list for 787: ['788']

In [55]:
reassign_df

,index,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,ac_code_iata_reassign,oag_name_keep
0,8,32S,to_be_assigned_to_multiple_variants,Airbus A318/319/320/321,to_be_assigned_to_multiple_variants,"[319, 32A, 321, 320, 318]",NaN
1,16,330,to_be_assigned_to_multiple_variants,Airbus A330,to_be_assigned_to_multiple_variants,"[332, 333]",NaN
2,20,340,to_be_assigned_to_multiple_variants,Airbus A340,to_be_assigned_to_multiple_variants,"[342, 343, 345, 346]",NaN
3,40,ATR,to_be_assigned_to_multiple_variants,ATR42 /ATR72,to_be_assigned_to_multiple_variants,"[AT4, AT7]",NaN
4,42,ARJ,to_be_assigned_to_multiple_variants,Avro RJ70 /rj85 /rj100,to_be_assigned_to_multiple_variants,"[AR1, AR8]",NaN
5,44,146,to_be_assigned_to_multiple_variants,BAe 146 Passenger,to_be_assigned_to_multiple_variants,"[141, 142, 143]",NaN
6,62,M80,to_be_assigned_to_multiple_variants,Boeing (douglas) MD-80,to_be_assigned_to_multiple_variants,"[M81, M82, M83, M87, M88]",NaN
7,73,737,to_be_assigned_to_multiple_variants,Boeing 737 Passenger,to_be_assigned_to_multiple_variants,"[734, 736, 738, 73J, 735, 73W, 73H, 73G, 733, ...",NaN
8,98,757,to_be_assigned_to_multiple_variants,Boeing 757 (Passenger),to_be_assigned_to_multiple_variants,"[752, 753]",NaN
9,103,767,to_be_assigned_to_multiple_variants,Boeing 767 Passenger,to_be_assigned_to_multiple_variants,"[762, 763, 764]",NaN
10,108,777,to_be_assigned_to_multiple_variants,Boeing 777 Passenger,to_be_assigned_to_multiple_variants,"[772, 773]",NaN
11,113,787,to_be_assigned_to_multiple_variants,Boeing 787,to_be_assigned_to_multiple_variants,[788],NaN
12,120,CRJ,to_be_assigned_to_multiple_variants,Canadair Regional Jet,to_be_assigned_to_multiple_variants,"[CR1, CR2, CR7, CR9, CRA, CRK]",NaN
13,141,DH8,to_be_assigned_to_multiple_variants,DHvilld-Bombardier DHC8 Dsh 8,to_be_assigned_to_multiple_variants,"[DH1, DH2, DH3, DH4]",NaN
14,149,EMJ,to_be_assigned_to_multiple_variants,Embraer 170/195,to_be_assigned_to_multiple_variants,"[E70, E95]",NaN
15,156,ERJ,to_be_assigned_to_multiple_variants,Embraer RJ 135/140/145,to_be_assigned_to_multiple_variants,"[ER3, ER4, ERD]",NaN

**Reassign**

In [56]:
# Add the total share of yearly fkm of each OAG entry and a one-string-route as two new columns
oag12['share_of_fkm_2012'] = oag12['fkm_2012'] / oag12['fkm_2012'].sum()
oag12['route'] = oag12['arr_ap_code'] + '_' + oag12['dep_ap_code']
oag12.head()

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2012,fkm_2012,share_of_fkm_2012,route
0,100,Fokker 100,AGT,Ciudad del Este,PY,ASU,Asuncion,PY,303.201008,176.0,53363.377470,1.372065e-06,AGT_ASU
1,100,Fokker 100,AMS,Amsterdam,NL,LUX,Luxembourg,LU,314.611383,1.0,314.611383,8.089205e-09,AMS_LUX
2,100,Fokker 100,ASU,Asuncion,PY,AGT,Ciudad del Este,PY,303.201008,225.0,68220.226879,1.754061e-06,ASU_AGT
3,100,Fokker 100,BHX,Birmingham Airport,GB,ZRH,Zurich Airport,CH,921.176839,668.0,615346.128185,1.582162e-05,BHX_ZRH
4,100,Fokker 100,BIO,Bilbao,ES,LIS,Lisbon,PT,723.541703,1.0,723.541703,1.860351e-08,BIO_LIS

In [57]:
def lookup_fkm_shares(iata_orig, ls_reassign, oag12_route, oag12):
    '''Take the original generic iata code aircraft (iata_orig) that has to be reassigned to other aircraft types,
    which are the input list ls_reassign aircraft types.
    Takes the oag data for a specific route - all aircraft that perform these route.
    Returns relative shares of these to-be-reassigned aircraft types.'''
    
    ls_reassign = pd.DataFrame({'ac_code_iata': ls_reassign, 'share_of_fkm_2012': 'share_of_fkm_2012'})
    ac_performance = oag12.groupby('ac_code_iata').sum().reset_index()
    ls_reassign['share_of_fkm_2012'] = ac_performance.set_index('ac_code_iata').lookup(ls_reassign['ac_code_iata'],ls_reassign['share_of_fkm_2012'])
    ls_reassign['share_of_fkm_2012'] = ls_reassign['share_of_fkm_2012'] / ls_reassign['share_of_fkm_2012'].sum()
    
    return ls_reassign

In [58]:
new_oag12 = oag12.copy()

In [59]:
'''Some iata codes in the OAG data set do not refer to a specific aircraft, but are a general "melting pot" for all aircraft versions of a general type.
Since stock data from Planespotters does refer only to specific aircraft, we have to reassign the general aircraft types to the specific ones.
This code block assures that this reassignment (redistribution of number of flights (frequency_2012) and flight kilometers (fkm_2012)) is done according to 
the share of specific aircraft versions on the total fkm in 2012. Since fkm correlate good with number of aircraft in a first order approximation,
yearly fkm share is a good proxy for the number of aircraft version that we reassign.'''

for iata_orig in np.arange(len(reassign_df)): # loop over all iata codes that have to be replaced (iata_orig = [0,1,2,...,#all orig iata codes])
    
    orig = reassign_df.loc[iata_orig,'ac_code_iata']           # original ac that has to be reassigned (e.g. '330')
    reass = reassign_df.loc[iata_orig,'ac_code_iata_reassign'] # ac to which the fkm are reassigned (e.g. ['332', '333'])
    
    
    for route in oag12[oag12['ac_code_iata'] == orig]['route']: # loop over routes
        
        if len(oag12[(oag12['route'] == route) & (oag12['ac_code_iata'] == orig)]) > 0: # check if orig ac is operated at the current route
            # Look sequentially at routes in the oag data for the orig aircraft
            oag12_route = oag12[(oag12['route'] == route) & \
                                ((oag12['ac_code_iata'] == orig) | (oag12['ac_code_iata'].isin(reass)))].reset_index()
            oag12_route = oag12_route.drop(columns='index')

            if len(oag12_route) > 0:
                # Create a new table for all reass aircraft and set empty cells that are filled afterwards
                orig_oag12_route = oag12_route[oag12_route['ac_code_iata'] == orig]
                new_df = pd.concat([orig_oag12_route]*len(reass), ignore_index=True)
                new_df.at[:,['ac_code_iata', 'ac_name_oag','frequency_2012', 'fkm_2012', 'share_of_fkm_2012']] = ''
                new_df.at[:,'ac_code_iata'] = reass
                new_df.at[:,'ac_name_oag'] = 'new_reass_ac'

                # Define shares of yearly fkm shares of the reass aircraft
                shares = lookup_fkm_shares(orig, reass, oag12_route, oag12)

                # Calculate the fkm that have to be redistributed from the orig ac to the reass ac
                orig_fkm = oag12_route[oag12_route['ac_code_iata'] == orig]['fkm_2012'].item()


                # Loop over all reass ac for the specific aircraft orig (loop 1) and the specific route (loop 2)
                for i in reass:
                    # Get the share of fkm of i-th reass ac on the total fkm of all reass ac
                    share_i = shares[shares['ac_code_iata'] == i]['share_of_fkm_2012'].item()
            
                    # Check whether the i-th reass aircraft is already assigned for that route in the original oag data set and save the fkm of it if it is nonzero.
                    reass_fkm_old = oag12_route[oag12_route['ac_code_iata'] == i]['fkm_2012']
                    if len(reass_fkm_old) >0:
                        reass_fkm_old = reass_fkm_old.item()
                    else:
                        reass_fkm_old = 0
                    
                    # Fill the dataframe for the reass aircraft with the share-wise distribution of the to-be-reassigned orig fkm + the reass_fkm_old
                    row = new_df[new_df['ac_code_iata'] == i].index.item()
                    
                    
                    new_df.at[row,'fkm_2012'] = share_i*orig_fkm + reass_fkm_old
                    # Calculate the frequency from the fkm and the great-circle distance
                    new_df.at[row,'frequency_2012'] = round(new_df.loc[row,'fkm_2012'] / new_df.loc[row,'gc_distance'])   


                # Since we assign the fkm according to yearyl fkm shares, the frequency for a specific route-ac pair might not be a multiple of the gc_distance (see last step in reass-loop).
                # Solution: Make sure that the sum of frequency_2012 over all reass ac is the same as for all ac (orig + reass) on the route.
                diff_freq = new_df['frequency_2012'].sum() - oag12_route['frequency_2012'].sum() 

                # If there is a difference, add or substract that difference in number of flights from the reass ac with the largest freq,
                # unless there is no reass ac with a largest freq, then take the last ac in the list
                idx_max = pd.to_numeric(new_df['frequency_2012'])

                if abs(diff_freq) > 0:
                    if math.isnan(idx_max.idxmax()):
                        last_row = new_df.index[-1]
                        new_df.at[last_row,'frequency_2012'] -= diff_freq
                    else:
                        new_df.at[idx_max.idxmax(),'frequency_2012'] -= diff_freq

                # After this correction, we can reset the fkm's according to the frequencies:
                new_df.at[:,'fkm_2012'] = new_df.loc[:,'frequency_2012'] * new_df.loc[:,'gc_distance']

                # Now we append the rows with the new values for the reass ac and drop the original ones if existing
                new_oag12 = new_oag12.append(new_df, ignore_index=True)
                new_oag12 = new_oag12.drop_duplicates(subset = ['ac_code_iata','route'], keep = 'last')
                
    # Last we delete all orig ac
    idx_to_del = new_oag12[new_oag12['ac_code_iata'] == orig].index
    new_oag12 = new_oag12.drop(index=idx_to_del)

In [60]:
# Since the fkm-frequency-step in the loop above creates a few 0-frequency-entries, we delete them.
zeros = new_oag12[new_oag12['frequency_2012'] == 0].index
new_oag12 = new_oag12.drop(index=zeros)
new_oag12 = new_oag12.reset_index()
new_oag12 = new_oag12.drop(columns='index')

**Check whether the reassignment was successful: None of the to-be-reassigned-ac-codes should be in the df anymore:**

In [61]:
ac_code_iata_reassigned = list(reassign_df.ac_code_iata)
ac_code_iata_in_df = list(new_oag12.ac_code_iata.unique())
set(ac_code_iata_in_df).intersection(set(ac_code_iata_reassigned))

set()

**Sanity check:**

Frequency and fkm should be the same for new_oag12 and the entries of oag12:

In [62]:
check_diff_freq = abs(oag12['frequency_2012'].sum() - new_oag12['frequency_2012'].sum())
check_diff_fkm = abs(oag12['fkm_2012'].sum() - new_oag12['fkm_2012'].sum())
print('Difference between frequency before and after ac reassignment: {:.2f}.'.format(check_diff_freq))
print('Difference between total fkm before and after ac reassignment: {:.2f}.'.format(check_diff_fkm))

Difference between frequency before and after ac reassignment: 0.00.
Difference between total fkm before and after ac reassignment: 0.00.

Check passed.

** Since we split the to-be-reassigned ac codes into multiple other ac, we also increased the number of entries: **

In [63]:
len(oag12)

135894

In [64]:
len(new_oag12)

186040

### (2012) Merge duplicate ICAO codes

**Load manual IATA-ICAO lookup table**

In [65]:
# Read the manual lookup table
ac_type_designators = pd.read_excel('../../../../Research/Aviation/Jupyter/datasets/aircraft_type_designators_manual.xlsx')
ac_type_designators = ac_type_designators.rename(columns={'oag_model: all generic AC types where we have multiple variants in the PS data set are marked in red': 'ac_name_oag',
                                            'planespotters_model': 'ac_name_ps',
                                            'share of yearly flight km: high impact models (>1% of total FKM) are marked in green -> ask OAG here': 'share_of_yearly_FKM'})
ac_type_designators = ac_type_designators.drop(['share_of_yearly_FKM','ps_model assignment','comment1','comment2', 'widebody'], axis=1)
ac_type_designators['ac_code_iata_reassign'] = ac_type_designators['ac_code_iata_reassign'].str.split(',')
ac_type_designators['ac_code_iata'] = ac_type_designators['ac_code_iata'].astype(str)
ac_type_designators.head()

,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,ac_code_iata_reassign,oag_name_keep
0,CS1,BCS1,Airbus A220-100,Airbus A220-100,NaN,NaN
1,CS3,BCS3,Airbus A220-300,Airbus A220-300,NaN,NaN
2,AB3,A30B,Airbus A300 Passenger,Airbus A300B4,NaN,no
3,AB6,A306,Airbus A300-600 Passenger,Airbus A300-600,NaN,NaN
4,AB4,A30B,Airbus A300B2/B4 Passenger,Airbus A300B4,NaN,Airbus A300B2/B4 Passenger

**Remove generic IATA codes**

In [66]:
# We delete all generic IATA codes. They are reassigned to specific aircraft 
# variants in the Jupyter Notebook "OAG_Planespotters_Alignment".
ac_type_designators_wo_generic = ac_type_designators[ac_type_designators['ac_code_icao'] != 'to_be_assigned_to_multiple_variants']
ac_type_designators_wo_generic = ac_type_designators_wo_generic.drop(columns='ac_code_iata_reassign')
ac_type_designators_wo_generic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 189
Data columns (total 5 columns):
ac_code_iata     173 non-null object
ac_code_icao     173 non-null object
ac_name_oag      173 non-null object
ac_name_ps       127 non-null object
oag_name_keep    66 non-null object
dtypes: object(5)
memory usage: 8.1+ KB

**Add ICAO code to OAG data.**

In [67]:
iata_icao_lookup = ac_type_designators_wo_generic.set_index('ac_code_iata').to_dict()['ac_code_icao']
new_oag12['ac_code_icao'] = new_oag12['ac_code_iata'].replace(iata_icao_lookup)

** Merge duplicate ICAO values**

In [68]:
# Define duplicate icao values
icao_dupl = ac_type_designators_wo_generic[ac_type_designators_wo_generic.duplicated(subset ='ac_code_icao', keep=False)].sort_values(by='ac_code_icao')
icao_dupl[6:10]

,ac_code_iata,ac_code_icao,ac_name_oag,ac_name_ps,oag_name_keep
13,321,A321,Airbus A321,Airbus A321-200,Airbus A321 (with and without Sharklets)
14,32B,A321,Airbus A321 (Sharklets),Airbus A321-200,no
28,380,A388,Airbus A380 Passenger,Airbus A380-800,no
29,388,A388,Airbus A380-800 Passenger,Airbus A380-800,Airbus A380-800 Passenger

Example: The A321 are all given the oag name "Airbus A321 (with and without Sharklets)" and the IATA code '321'.

In [69]:
icao_dupl_names = icao_dupl['ac_code_icao'].unique() # unique icao values in the list
icao_dupl_groups = icao_dupl.groupby('ac_code_icao')

for i in icao_dupl_names: # loop over all duplicate icao values
     # Get all entries from icao_dupl for the selected icao code
    _cache = icao_dupl_groups.get_group(i)
    
    # Rename the ac_name_oag to the one given in icao_dupl
    _rename_oag_name = _cache[_cache['oag_name_keep'] != 'no']['oag_name_keep'].item()
    _keep_iata_codes = _cache[_cache['oag_name_keep'] != 'no']['ac_code_iata'].to_list()
    _rename_iata_index = new_oag12[new_oag12['ac_code_iata'].isin(_keep_iata_codes)].index
    new_oag12.at[_rename_iata_index,'ac_name_oag'] = _rename_oag_name
    
    # Rename the ac_code_iata to the first one in the list 
    _del_iata_codes = _cache[_cache['oag_name_keep'] == 'no']['ac_code_iata'].to_list()
    _del_iata_index = new_oag12[new_oag12['ac_code_iata'].isin(_del_iata_codes)].index
    new_oag12.at[_del_iata_index,'ac_code_iata'] = _keep_iata_codes[0]

Now that we set common names for the same ac_code_icao, we will see duplicates for identical ap-pairs. We merge them.

In [70]:
to_be_merged = new_oag12[new_oag12.duplicated(subset = ['ac_code_icao','dep_ap_code', 'arr_ap_code','dep_ap_name', 'arr_ap_name', 'gc_distance'], keep=False)].sort_index()
grouped = to_be_merged.groupby(['ac_code_icao','dep_ap_code', 'arr_ap_code'])

In [71]:
for ac_group in grouped.groups.keys():
    grouped.get_group(ac_group).index[0]
    idx_first_entry = grouped.get_group(ac_group).index[0]
    idx_other_entries = grouped.get_group(ac_group).index[1:]
    freq_sum = grouped.get_group(ac_group).sum()['frequency_2012']
    fkm_sum = grouped.get_group(ac_group).sum()['fkm_2012']

    # We update the summed up freq and fkm and set it as new value for the 1st entry
    new_oag12.at[idx_first_entry, 'frequency_2012'] = freq_sum
    new_oag12.at[idx_first_entry, 'fkm_2012'] = fkm_sum
    
    # We delete all duplicated values except the first one (which is the one with the updated information)
    new_oag12.drop_duplicates(subset=['ac_code_iata','dep_ap_code', 'arr_ap_code','dep_ap_name', 'arr_ap_name', 'gc_distance'], keep='first',inplace=True)

## (2012) Final processing

In [72]:
new_oag12

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2012,fkm_2012,share_of_fkm_2012,route,ac_code_icao
0,100,Fokker 100,AGT,Ciudad del Este,PY,ASU,Asuncion,PY,303.201008,176,53363.4,1.37207e-06,AGT_ASU,F100
1,100,Fokker 100,AMS,Amsterdam,NL,LUX,Luxembourg,LU,314.611383,1,314.611,8.08921e-09,AMS_LUX,F100
2,100,Fokker 100,ASU,Asuncion,PY,AGT,Ciudad del Este,PY,303.201008,225,68220.2,1.75406e-06,ASU_AGT,F100
3,100,Fokker 100,BHX,Birmingham Airport,GB,ZRH,Zurich Airport,CH,921.176839,668,615346,1.58216e-05,BHX_ZRH,F100
4,100,Fokker 100,BIO,Bilbao,ES,LIS,Lisbon,PT,723.541703,1,723.542,1.86035e-08,BIO_LIS,F100
5,100,Fokker 100,BNE,Brisbane,AU,POM,Port Moresby,PG,2092.133430,91,190384,4.89511e-06,BNE_POM,F100
6,100,Fokker 100,BRU,Brussels Airport,BE,OPO,Porto,PT,1474.449216,20,29489,7.58213e-07,BRU_OPO,F100
7,100,Fokker 100,BXR,Bam,IR,THR,Tehran Mehrabad International Airport,IR,993.516508,104,103326,2.65668e-06,BXR_THR,F100
8,100,Fokker 100,DPS,Denpasar Bali,ID,SUB,Surabaya,ID,318.432381,213,67826.1,1.74393e-06,DPS_SUB,F100
9,100,Fokker 100,FCO,Rome Fiumicino Apt,IT,LIS,Lisbon,PT,1838.512167,4,7354.05,1.89085e-07,FCO_LIS,F100
10,100,Fokker 100,FNC,Funchal,PT,OPO,Porto,PT,1190.950465,4,4763.8,1.22486e-07,FNC_OPO,F100
11,100,Fokker 100,GRU,Sao Paulo Guarulhos Intl Apt,BR,JDO,Juazeiro do Norte,BR,1960.359067,31,60771.1,1.56253e-06,GRU_JDO,F100
12,100,Fokker 100,GRU,Sao Paulo Guarulhos Intl Apt,BR,PFB,Passo Fundo,BR,792.932579,314,248981,6.40173e-06,GRU_PFB,F100
13,100,Fokker 100,GRU,Sao Paulo Guarulhos Intl Apt,BR,POA,Porto Alegre,BR,865.517951,1098,950339,2.44349e-05,GRU_POA,F100
14,100,Fokker 100,GYL,Argyle,AU,KNX,Kununurra,AU,99.348706,52,5166.13,1.3283e-07,GYL_KNX,F100
15,100,Fokker 100,LIS,Lisbon,PT,BIO,Bilbao,ES,723.541703,1,723.542,1.86035e-08,LIS_BIO,F100
16,100,Fokker 100,LIS,Lisbon,PT,FCO,Rome Fiumicino Apt,IT,1838.512167,4,7354.05,1.89085e-07,LIS_FCO,F100
17,100,Fokker 100,LIS,Lisbon,PT,MAD,Madrid Barajas Apt,ES,512.835322,471,241545,6.21055e-06,LIS_MAD,F100
18,100,Fokker 100,LIS,Lisbon,PT,MAN,Manchester (GB),GB,1702.498164,130,221325,5.69064e-06,LIS_MAN,F100
19,100,Fokker 100,LUX,Luxembourg,LU,AMS,Amsterdam,NL,314.611383,1,314.611,8.08921e-09,LUX_AMS,F100
20,100,Fokker 100,MAD,Madrid Barajas Apt,ES,LIS,Lisbon,PT,512.835322,471,241545,6.21055e-06,MAD_LIS,F100
21,100,Fokker 100,MAN,Manchester (GB),GB,LIS,Lisbon,PT,1702.498164,130,221325,5.69064e-06,MAN_LIS,F100
22,100,Fokker 100,OPO,Porto,PT,BRU,Brussels Airport,BE,1474.449216,20,29489,7.58213e-07,OPO_BRU,F100
23,100,Fokker 100,OPO,Porto,PT,FNC,Funchal,PT,1190.950465,4,4763.8,1.22486e-07,OPO_FNC,F100
24,100,Fokker 100,OPO,Porto,PT,ORY,Paris Orly Apt,FR,1200.487679,253,303723,7.80926e-06,OPO_ORY,F100
25,100,Fokker 100,ORY,Paris Orly Apt,FR,OPO,Porto,PT,1200.487679,254,304924,7.84012e-06,ORY_OPO,F100
26,100,Fokker 100,OTP,Bucharest Henri Coanda Apt,RO,ZRH,Zurich Airport,CH,1389.526279,560,778135,2.00072e-05,OTP_ZRH,F100
27,100,Fokker 100,PFB,Passo Fundo,BR,GRU,Sao Paulo Guarulhos Intl Apt,BR,792.932579,312,247395,6.36095e-06,PFB_GRU,F100
28,100,Fokker 100,PGU,Asaloyeh,IR,RAS,Rasht,IR,1144.178451,61,69794.9,1.79455e-06,PGU_RAS,F100
29,100,Fokker 100,PNZ,Petrolina,BR,SSA,Salvador,BR,464.140920,121,56161.1,1.444e-06,PNZ_SSA,F100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185996,ER4,new_reass_ac,ORD,Chicago O'Hare International Apt,US,SAV,Savannah/Hilton Head International Apt,US,1245.449040,275,342498,,ORD_SAV,E145
185998,ER3,Embraer RJ135/145,PIB,Laurel Hattiesburg-Laurel Regional Apt,US,LAW,Lawton,US,913.610512,4,3654.44,,PIB_LAW,E135
185999,ER4,new_reass_ac,PIB,Laurel Hattiesburg-Laurel Regional Apt,US,LAW,Lawton,US,913.610512,8,7308.88,,PIB_LAW,E145
186001,ER3,Embraer RJ135/145,ROC,Rochester,US,IAD,Washington Dulles International Apt,US,465.108419,60,27906.5,,ROC_IAD,E135
186002,ER4,new_reass_ac,ROC,Rochester,US,IAD,Washington Dulles International Apt,US,465.108419,697,324181,,ROC_IAD,E145
186004,ER3,Embraer RJ135/145,RSW,Fort Myers Sw Florida International Apt,US,CLE,Cleveland Hopkins International Apt,US,1654.018606,30,49620.6,,RSW_CLE,E135
186005,ER4,new_reass_ac,RSW,Fort Myers Sw Florida International Apt,US,CLE,Cleveland Hopkins International Apt,US,1654.018606,68,112473,,RSW_CLE,E145
186007,ER3,Embraer RJ135/145,SAV,Savannah/Hilton Head International Apt,US,ORD,Chicago O'Hare International Apt,US,1245.449040,106,132018,,SAV_ORD,E135
186008,ER4,new_reass_ac,SAV,Savannah/Hilton Head International Apt,US,ORD,Chicago O'Hare International Apt,US,1245.449040,279,347480,,SAV_ORD,E145
186010,ER3,Embraer RJ135/145,SHE,Shenyang,CN,TGO,Tongliao,CN,220.442663,65,14328.8,,SHE_TGO,E135
186011,ER4,new_reass_ac,SHE,Shenyang,CN,TGO,Tongliao,CN,220.442663,144,31743.7,,SHE_TGO,E145
186013,ER3,Embraer RJ135/145,SHV,Shreveport Regional Apt,US,DEN,Denver Intl Apt,US,1273.452082,39,49664.6,,SHV_DEN,E135
186014,ER4,new_reass_ac,SHV,Shreveport Regional Apt,US,DEN,Denver Intl Apt,US,1273.452082,87,110790,,SHV_DEN,E145
186016,ER3,Embraer RJ135/145,STC,St Cloud Municipal Apt,US,CLE,Cleveland Hopkins International Apt,US,1085.742419,6,6514.45,,STC_CLE,E135
186017,ER4,new_reass_ac,STC,St Cloud Municipal Apt,US,CLE,Cleveland Hopkins International Apt,US,1085.742419,14,15200.4,,STC_CLE,E145
186019,ER4,new_reass_ac,SWO,Stillwater,US,CKB,Clarksburg,US,1520.536696,1,1520.54,,SWO_CKB,E145
186020,ER3,Embraer RJ135/145,TGO,Tongliao,CN,SHE,Shenyang,CN,220.442663,65,14328.8,,TGO_SHE,E135
186021,ER4,new_reass_ac,TGO,Tongliao,CN,SHE,Shenyang,CN,220.442663,144,31743.7,,TGO_SHE,E145
186023,ER4,new_reass_ac,TLS,Toulouse,FR,CLY,Calvi,FR,615.392343,3,1846.18,,TLS_CLY,E145
186024,ER3,new_reass_ac,TLS,Toulouse,FR,CLY,Calvi,FR,615.392343,1,615.392,,TLS_CLY,E135
186025,ER3,Embraer RJ135/145,VER,Veracruz,MX,MTY,Monterrey General Mariano Escobedo Apt,MX,839.857256,135,113381,,VER_MTY,E135
186026,ER4,new_reass_ac,VER,Veracruz,MX,MTY,Monterrey General Mariano Escobedo Apt,MX,839.857256,300,251957,,VER_MTY,E145
186028,ER3,Embraer RJ135/145,XIY,Xi'an Xianyang Apt,CN,LHW,Lanzhou Zhongchuan Apt,CN,485.715190,206,100057,,XIY_LHW,E135
186029,ER4,new_reass_ac,XIY,Xi'an Xianyang Apt,CN,LHW,Lanzhou Zhongchuan Apt,CN,485.715190,462,224400,,XIY_LHW,E145
186031,ER3,Embraer RJ135/145,XNA,Fayetteville Northwest Arkansas Reg Apt,US,DEN,Denver Intl Apt,US,989.449613,37,36609.6,,XNA_DEN,E135
186032,ER4,new_reass_ac,XNA,Fayetteville Northwest Arkansas Reg Apt,US,DEN,Denver Intl Apt,US,989.449613,126,124671,,XNA_DEN,E145
186034,ER3,Embraer RJ135/145,XNA,Fayetteville Northwest Arkansas Reg Apt,US,IAH,Houston George Bush Intercontinental Ap,US,706.934547,347,245306,,XNA_IAH,E135
186035,ER4,new_reass_ac,XNA,Fayetteville Northwest Arkansas Reg Apt,US,IAH,Houston George Bush Intercontinental Ap,US,706.934547,778,549995,,XNA_IAH,E145
186037,ER3,Embraer RJ135/145,YOW,Ottawa Mcdonald Cartier Intl Apt,CA,EWR,Newark Liberty International Apt,US,528.535423,427,225685,,YOW_EWR,E135
186038,ER4,new_reass_ac,YOW,Ottawa Mcdonald Cartier Intl Apt,CA,EWR,Newark Liberty International Apt,US,528.535423,958,506337,,YOW_EWR,E145

In [73]:
len(new_oag12)

168547

In [74]:
new_oag12.ac_code_iata.unique()

array(['100', '141', '142', '143', '313', 'AT7', '318', '319', '320',
       '321', '332', '333', '342', '343', '345', '346', '388', '717',
       '722', '72S', '73L', '733', '734', '735', '736', 'AT4', '738',
       '77L', 'AT5', '290', 'E95', '739', '73G', '73A', '73S', 'AR1',
       '743', '744', '74H', '74L', '74M', '752', '753', '74D', '762',
       '763', '742', 'E70', '764', '772', '773', 'E75', '77W', 'F70',
       '788', 'A40', 'A81', 'AB4', 'AB6', 'AN4', 'AN6', 'AR8', '75M',
       'BE1', 'BEC', 'BNI', 'CNA', 'PL2', 'CNF', 'CR2', 'CR7', 'ATP',
       'CR9', 'CNJ', 'CR1', 'BE2', 'CNT', 'CRK', 'CV5', 'D1C', 'D38',
       'D93', 'D95', 'DC9', 'DH1', 'DH2', 'DH3', 'DH4', 'DH7', 'D28',
       'DHL', 'DHP', 'DHT', 'EM2', 'EMB', 'ER3', 'ER4', 'DHC', 'J41',
       'F24', 'F28', 'F50', 'IL9', 'J31', 'J32', 'JST', 'L4T', 'M11',
       'M81', 'M82', 'M83', 'M87', 'M88', 'M90', 'MA6', 'S20', 'PA1',
       'PA2', 'PAG', 'SF3', 'SH6', 'SU9', 'SWM', 'T20', 'TU3', 'TU5',
       'YK2', 'YN2', 'FRJ', 'IL8', 'YK4', 'S61', 'SH3', 'AR7', '73Y',
       'GRG', 'AN7', 'DC3', 'HS7', 'F27'], dtype=object)

In [75]:
len(new_oag12.ac_code_iata.unique())

140

Finally, we...
- (1) delete the two columns that have been needed for the calculations.
- (2) reset the index.
- (3) change some data types.
- (4) assign the right ac_name_oag for the new reass ac.

In [76]:
#1,2
new_oag12 = new_oag12.drop(columns=['share_of_fkm_2012', 'route']).reset_index()
new_oag12 = new_oag12.drop(columns=['index'])

In [77]:
#3
new_oag12['frequency_2012'] = new_oag12['frequency_2012'].astype(int)
new_oag12['fkm_2012'] = new_oag12['fkm_2012'].astype(float)

In [78]:
#4-1
# update the ac names that have been double icao values previously
idx_oag_name_double_icao = ac_type_designators[(~ac_type_designators['oag_name_keep'].isnull()) & \
                                               (ac_type_designators['oag_name_keep'] != 'no')].index
ac_type_designators.at[idx_oag_name_double_icao,'ac_name_oag'] = \
                                                ac_type_designators.loc[idx_oag_name_double_icao,'oag_name_keep']

In [79]:
#4-2
ac_iata_to_oag_lookup = ac_type_designators.set_index('ac_code_iata').to_dict()['ac_name_oag']
dict(list(ac_iata_to_oag_lookup.items())[10:13]) # preview
new_oag12.at[:,'ac_name_oag'] = new_oag12['ac_code_iata'].replace(ac_iata_to_oag_lookup)
new_oag12.head()

,ac_code_iata,ac_name_oag,arr_ap_code,arr_ap_name,arr_ap_cty,dep_ap_code,dep_ap_name,dep_ap_cty,gc_distance,frequency_2012,fkm_2012,ac_code_icao
0,100,Fokker 100,AGT,Ciudad del Este,PY,ASU,Asuncion,PY,303.201008,176,53363.377470,F100
1,100,Fokker 100,AMS,Amsterdam,NL,LUX,Luxembourg,LU,314.611383,1,314.611383,F100
2,100,Fokker 100,ASU,Asuncion,PY,AGT,Ciudad del Este,PY,303.201008,225,68220.226879,F100
3,100,Fokker 100,BHX,Birmingham Airport,GB,ZRH,Zurich Airport,CH,921.176839,668,615346.128185,F100
4,100,Fokker 100,BIO,Bilbao,ES,LIS,Lisbon,PT,723.541703,1,723.541703,F100

In [80]:
#4: Check whether all oag names have been replaced
len(new_oag12[new_oag12['ac_name_oag'] == 'new_reass_ac'])

0

In [81]:
# Delete ICAO code
new_oag12 = new_oag12.drop(columns='ac_code_icao')

In [82]:
new_oag12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168547 entries, 0 to 168546
Data columns (total 11 columns):
ac_code_iata      168547 non-null object
ac_name_oag       168547 non-null object
arr_ap_code       168547 non-null object
arr_ap_name       168547 non-null object
arr_ap_cty        168547 non-null object
dep_ap_code       168547 non-null object
dep_ap_name       168547 non-null object
dep_ap_cty        168547 non-null object
gc_distance       168547 non-null float64
frequency_2012    168547 non-null int32
fkm_2012          168547 non-null float64
dtypes: float64(2), int32(1), object(8)
memory usage: 13.5+ MB

In [83]:
print('By reassigning of aircraft, the number of entries has increased by {:.2f}% from {} to {} entries.'.format(len(new_oag12)/len(oag12)*100-100,len(oag12), len(new_oag12)))

By reassigning of aircraft, the number of entries has increased by 24.03% from 135894 to 168547 entries.

new_oag12.to_csv('intermediary_save_of_new_oag12.csv')

## (2012) Upload changed OAG data set

In [84]:
# Checking the maximum character length in columns:
new_oag12.ac_name_oag.str.len().max()

64

# Connect to DB
%load_ext ipython_pg.LAV
%pg_connect dbname='mobility' user='heldm'

In [46]:
%pg_sql set role "NDA-OAG-full"

SUCCESS: query did not return any data

In [47]:
%%pg_sql cur
drop table if exists "OAG"."2012_schedule_ps_conform";

CREATE TABLE "OAG"."2012_schedule_ps_conform" 
("ac_code_iata" varchar(3), 
 "ac_name_oag" varchar(64), 
 "arr_ap_code" varchar(3),
 "arr_ap_name" varchar(39),
 "arr_ap_cty" varchar(2),
 "dep_ap_code" varchar(3),
 "dep_ap_name" varchar(39),
 "dep_ap_cty" varchar(2),
 "gc_distance" float,
 "frequency_2012" int,
 "fkm_2012" float
);

COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."ac_code_iata" IS 'IATA aircraft code';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."ac_name_oag" IS 'OAG aircraft name';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."arr_ap_code" IS 'IATA aiport code';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."arr_ap_name" IS 'IATA aiport name';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."arr_ap_cty" IS  'IATA airport country';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."dep_ap_code" IS 'IATA aiport code';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."dep_ap_name" IS 'IATA aiport name';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."dep_ap_cty" IS 'IATA airport country';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."gc_distance" IS 'great-circle distance for this segment';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."frequency_2012" IS 'number of flights for this segment in 2012';
COMMENT ON
COLUMN "OAG"."2012_schedule_ps_conform"."fkm_2012" IS 'flight kilometers for this segment (gc_distance * frequency)';

COMMIT;

SUCCESS: query did not return any data
 cursor object as 'cur'

In [48]:
%pg_copy new_oag12 OAG.2012_schedule_ps_conform

  waring: green-mode temporarily deactivated (interrupt won't abort the import)  green mode reactivated

In [ ]:
%pg_disconnect